.main_block {
    min-width: 1200px;
    margin: 0 auto;
}

.main_block .form {
    text-align: center; 
    padding: 0 auto;
}

.main_block .form .logo_main {
    width: 500px;
}

.main_block .form .search_input {
    width: 500px;
}

.main_block .form .social img {
    width: 50px;
    height: 50px;
}

.main_block .social {
    background-color: #E6E6E6;
    width: 100px;
    margin: 20px auto;
    border-radius: 20px;
    padding-top: 8px;
}

.main_block .form .search_button {
    width: 200px;
    margin-top: 20px;
}